<div class="container">
    <div class="content">
        <div class="content-container">
            <div class="content-header">
                <h2 class="content-header-title">{{PageTitle}} Store</h2>
            </div>
            <!-- /.content-header -->
            <span class="col-sm-offset-3 col-sm-9" data-ng-show="errorvisible" style="color: red;">{{error}}
            </span>
            <span class="col-sm-offset-3 col-sm-9" data-ng-show="successvisible" style="color: green;">{{success}}
            </span>
            <form method="post" class="form-horizontal" role="form" name="storeForm" data-ng-submit="submitForm(storeForm.$valid)" novalidate>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span class="asterisk">*</span>Store Name</label>
                            <div class="col-sm-9">
                                <input type="text" name="storename" class="form-control" placeholder="Store Name" ng-maxlength="50" data-ng-model="StoreName" required>
                                <input type="hidden" name="st_Id" class="form-control" data-ng-model="StoreId">
                                <span style="color: red" ng-show="storeForm.$submitted || storeForm.storename.$dirty">
                                    <span ng-show="storeForm.storename.$error.required">Store Name is required.</span>
                                    <span ng-show="storeForm.storename.$error.maxlength">Maximum 50 characters allowed.</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="storeurl" class="col-sm-3 control-label"><span class="asterisk">*</span>Store URL</label>
                            <div class="col-sm-9">
                                <input type="text" name="storeurl" class="form-control" required placeholder="Store URL" data-ng-model="StoreURL" ng-maxlength="250" data-ng-pattern="/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/">
                                <span style="color: red" ng-show="storeForm.$submitted || storeForm.storeurl.$dirty">
                                    <span ng-show="storeForm.storeurl.$error.required">Store URL is required.</span>
                                    <span ng-show="storeForm.storeurl.$error.pattern"> Not valid Store URL!</span>
                                     <span ng-show="storeForm.storeurl.$error.maxlength">Maximum 250 characters allowed.</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="userid" class="col-sm-3 control-label"><span class="asterisk">*</span>User Email Id</label>
                            <div class="col-sm-9">
                                <input type="text" name="userid" class="form-control" placeholder="User Email Id" ng-maxlength="50" required data-ng-pattern="/^[_A-Za-z0-9]+(\.[_A-Za-z0-9]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9-]+)*(\.[a-z]{2,4})$/" data-ng-model="Email">
                                <span style="color: red" data-ng-show="storeForm.$submitted || storeForm.userid.$dirty">
                                    <span data-ng-show="storeForm.userid.$error.required">Email is required.</span>
                                    <span data-ng-show="storeForm.userid.$error.pattern">Not valid email!</span>
                                    <span data-ng-show="storeForm.userid.$error.maxlength">Maximum 50 characters allowed.</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contactperson" class="col-sm-3 control-label">
                                <span class="asterisk">*</span>Contact Person</label>
                            <div class="col-sm-9">
                                <input type="text" name="contactperson" class="form-control" required placeholder="Contact Person" ng-maxlength="50" data-ng-pattern="/^[a-z A-Z]*$/" data-ng-model="ContactPerson">
                                <span style="color: red" ng-show="storeForm.$submitted || storeForm.contactperson.$dirty">
                                    <span ng-show="storeForm.contactperson.$error.required">Contact Person is required.</span>
                                    <span data-ng-show="storeForm.contactperson.$error.pattern">Not valid Person name</span>
                                     <span ng-show="storeForm.contactperson.$error.maxlength">Maximum 50 characters allowed.</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mobileno" class="col-sm-3 control-label"><span class="asterisk">*</span>Mobile No &nbsp; +91</label>
                            <div class="col-sm-9">
                                <input type="text" name="mobileno" class="form-control" data-ng-pattern="/^\+?\d{10}$/" data-ng-maxlength="10" data-ng-minlength="10" placeholder="Mobile No" data-ng-model="MobileNo" required>
                                <span style="color: red" ng-show="storeForm.$submitted || storeForm.mobileno.$dirty">
                                    <span ng-show="storeForm.mobileno.$error.required">Mobile No. is required.</span>
                                    <span ng-show="storeForm.mobileno.$error.pattern">Invalid Mobile No.</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="selectstores" class="col-sm-3 control-label"><span class="asterisk">*</span>Select Stores</label>
                            <div class="col-sm-9">
                                <span class="ui-select">
                                    <select name="selectstores" class="form-control" multiple data-ng-model="SelectStoreChannels" data-ng-options="item.cd_id as item.cd_name for item in Channels" data-ng-change="SelectStoresChange()" required>
                                        <!--<option value="">-- Select Stores --</option>-->
                                    </select>
                                </span>
                                <span style="color: red" ng-show="storeForm.$submitted || storeForm.selectstores.$dirty">
                                    <span ng-show="storeForm.selectstores.$error.required">Please Select Stores.</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-5 col-sm-7">
                                <span data-ng-hide="IsAddStore"><button ng-click="backToAdd()" class="btn btn-primary btn-w-md" title="back">Back To Store</button></span>
                                <button type="submit" class="btn btn-primary btn-w-md" title="Save">Submit</button>
                                <button type="reset" data-ng-show="IsAddStore" class="btn btn-default btn-w-md" title="Reset" data-ng-click="resetForm()">Reset</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7"> <!-- data-ng-show="IsAddStore"-->
                        <div class="form-group table-responsive">
                            <table id="eventOperators" class="table table-striped table-bordered table-checkable">
                                <thead>
                                <tr>
                                    <th style="width: 10%"><a style="color: black; cursor: pointer" ng-click="orderByField='st_id'; reverseSort = !reverseSort;OrderBy(orderByField,reverseSort);">Id<i style="float: right" class=" {{sortIcon}}"></i></a></th>
                                    <th  style="width: 20%"><a style="color: black; cursor: pointer" ng-click="orderByField='st_name'; reverseSort = !reverseSort;OrderBy(orderByField,reverseSort);">Store Name<i style="float: right" class=" {{sortIcon}}"></i></a></th>
                                    <th><a style="color: black; cursor: pointer" ng-click="orderByField='ld_display_name'; reverseSort = !reverseSort;OrderBy(orderByField,reverseSort);">Contact Person<i style="float: right" class=" {{sortIcon}}"></i></a></th>
                                    <th><a style="color: black; cursor: pointer" ng-click="orderByField='ld_mobile_no'; reverseSort = !reverseSort;OrderBy(orderByField,reverseSort);">Mobile No<i style="float: right" class=" {{sortIcon}}"></i></a></th>
                                    <th  style="width: 30%"><a style="color: black; cursor: pointer" ng-click="orderByField='st_url'; reverseSort = !reverseSort;OrderBy(orderByField,reverseSort);">Site URL<i style="float: right" class=" {{sortIcon}}"></i></a></th>
                                    <th  style="width: 10%">Action</th>
                                </tr>
                                </thead>
                                <tbody data-ng-repeat="i in Stores | startFrom:currentPageNo * pageLimit | limitTo: pageLimit track by $index">
                                <tr>
                                    <!--<td>{{$index+1+(currentPageNo * pageLimit)}}</td>-->
                                    <td>{{i.st_id}}</td>
                                    <td>{{i.st_name}}</td>
                                    <td>{{i.ld_display_name}}</td>
                                    <td>{{i.ld_mobile_no}}</td>
                                    <td>{{i.st_url}}</td>
                                    <td>
                                        <a href="#edit-store/{{i.st_id}}"><i title="Edit Store" class="fa fa-edit"></i></a>
                                        <a href="#assign-right/{{i.st_id}}"><i title="Edit Assign Rights" class="fa fa-file"></i></a>
                                        
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                               <div class="row" ng-show="Stores.length > pageLimit">
                                    <div class="col-xs-6 col-sm-6">
                                        <button type="button" class="btn btn-primary btn-w-xs" title="Previous" data-ng-disabled="currentPageNo == 0" data-ng-click="currentPageNo=currentPageNo-1">Previous</button>

                                    </div>
                                    <div class="col-xs-6 col-sm-6 text-right">
                                        <button type="button" class="btn btn-primary btn-w-xs" title="Next" data-ng-disabled="currentPageNo >= Stores.length/pageLimit - 1" data-ng-click="currentPageNo=currentPageNo+1">Next</button>
                                    </div>
                              </div>

                                
                        </div>
                    </div>
                </div>


                     


                                    <!--<div class="row">
                                                            <div class="col-xs-12">
                                                                <div class="col-sm-offset-5 col-sm-7">
                                                                    <a href="/#/add-store" data-ng-hide="IsAddStore"> <button class="btn btn-primary btn-w-md" title="back">Back To Store</button></a>
                                                                    <button type="submit" class="btn btn-primary btn-w-md" title="Save">Submit</button>
                                                                    <button type="reset" data-ng-show="IsAddStore" class="btn btn-default btn-w-md" title="Reset" data-ng-click="resetForm()">Reset</button>
                                                                </div>
                                                            </div>
                                                        </div>-->
            </form>
        </div>
    </div>
</div>
