<div class="container">
    <div class="content">
        <div class="content-container">
            <div class="content-header">
                <h2 class="content-header-title">Manage Content</h2>
            </div>
            <!-- /.content-header -->
            <span class="col-sm-offset-3 col-sm-9" data-ng-show="errorvisible" style="color: red;">{{error}}
            </span>
            <span class="col-sm-offset-3 col-sm-9" data-ng-show="successvisible" style="color: green;">{{success}}
            </span>
            <form method="post" class="form-horizontal" role="form" name="manageContentForm" data-ng-submit="submitForm(manageContentForm.$valid)" novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="selectparenttype" class="col-sm-3 control-label"><span class="asterisk">*</span>Select Parent Content Type</label>
                            <div class="col-sm-9">
                                <span class="ui-select">
                                    <select ng-disabled="isReadOnly === 'yes'" name="selectparenttype" class="form-control" data-ng-model="SelectedParentContentType" data-ng-options="item.cd_id as item.cd_name for item in ParentContentType" data-ng-change="SelectParentContentTypeChange()" required>
                                        <option value="">-- Select Parent ContentType--</option>
                                    </select>
                                    <span style="color: red" ng-show="manageContentForm.$submitted || manageContentForm.selectparenttype.$touched">
                                        <span ng-show="manageContentForm.selectparenttype.$error.required">Please Select the Parent Content Type</span>
                                    </span>
                                </span>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span class="asterisk">*</span>New Content Type:</label>
                            <div class="col-sm-9">
                                <input type="text" name="newcontenttype" class="form-control" placeholder="Store Name" data-ng-model="NewContentType" required>
                                <span style="color: red" ng-show="manageContentForm.$submitted || manageContentForm.newcontenttype.$touched">
                                    <span ng-show="manageContentForm.newcontenttype.$error.required">New Content Type is required. </span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="deliverytype" class="col-sm-3 control-label"><span class="asterisk">*</span>Delivery Type</label>
                            <div class="col-sm-9">
                                <span class="ui-select">
                                    <select name="selectdeliverytype" size="2" ng-disabled="isReadOnly === 'yes'" class="form-control" multiple data-ng-model="SelectedDeliveryType" data-ng-options="item.cd_id as item.cd_name for item in DeliveryType">
                                        <!--<option value="">-- Select Geo Location --</option>-->
                                    </select>
                                    <span style="color: red" ng-show="manageContentForm.$submitted || manageContentForm.selectdeliverytype.$touched">
                                        <span ng-show="manageContentForm.selectdeliverytype.$error.required">Please Select Delivery Type.</span>
                                    </span>
                                </span>
                            </div>
                        </div>

                    </div>
                     
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-sm-offset-5 col-sm-7" data-ng-if="IsDisable != true">
                            <button type="submit" class="btn btn-primary btn-w-md" title="Save">Submit</button>
                            <!-- <a class="btn btn-default btn-w-md" href="#/manage-content">Cancel</a> -->
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



